body {background-color: #006994;}
h1 {text-align:center; color:#f0f8ff}
h2 {font:bold;}
.main-heading { 
    color: red;}
my-id {text-align: center; color:#f0f8ff; }
#first-photo {width:100%;}
.fish-h2 { text-align: center;}

#intropic { margin: auto;}
